td {
	height: 64px;
	width: 64px;
	border: solid black 1px;
	background: yellow;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table tr:nth-child(odd) td:nth-child(even) {
	  background: green;
}
table tr:nth-child(even) td:nth-child(odd) {
	  background: green;
}

img.item {
	height: 64px;
	width: 64px;
	z-index: 100;
}

.possibleMove {
	background-image: radial-gradient(center center, circle cover, #ffeda3, #ffc800);  		
}
