td {
	height: 64px;
	width: 64px;
	border: solid black 1px;
	background: yellow;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table tr:nth-child(odd) td:nth-child(even) {
	  background: green;
}
table tr:nth-child(even) td:nth-child(odd) {
	  background: green;
}

.item {
	height: 64px;
	width: 64px;
	z-index: 100;
	display: block;
}

.selectedItem {
	background-image: radial-gradient(#fff, rgba(0, 0, 0, 0.0)); 
}

.possibleMove {
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	width: 70%;
	display: block;
}


