td {
	height: 64px;
	width: 64px;
	border: solid black 1px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table tr:nth-child(odd) td:nth-child(even) {
	  background: #000;
}
table tr:nth-child(even) td:nth-child(odd) {
	  background: #000;
}

